{% include instructions/labs/{{site.variation}}instruction_single_file.html assignment_name="averager" %}
<ul>
  <li>
    <p>Write a program that will allow the user to enter in 2 numbers and an arithmetic operator.  The program will then output the result of performing the arithmetic operator on the 2 numbers.</p>
    <div class="point">
      <p class="topic">Click here for more details on the problem when you want to verify your understanding of the problem statement.</p>
      <div class="details">
        <ul>The program should:
          <li>accept 2 numbers</li>
          <li>accept an arithmetic operator, <code>+</code>, <code>-</code>, <code>*</code>, <code>/</code>, <code>%</code></li>
          <li>perform the arithmetic, e.g. <code>first_number / second_number</code></li>
        </ul>
        <ul>Be sure you understand the implications of:
          <li>type casting a decimal to an integer, e.g. does it round or does it truncate?</li>
          <li>using the mod operator <code>%</code>, e.g. what is it doing?  when does using <code>%</code> make sense and on which data types?</li>
        </ul>          
      </div>
    </div>
  </li>
</ul>