{% include instructions/labs/{{site.variation}}instruction_single_file.html assignment_name="character_analyzer" %}
<ul>
  <li>
    <p>Write a program that will allow the user to enter in a single digit number, alphabet, or special character.  The program will tell the user if s/he has entered in a number, an upper case letter, a lower case letter, or a special character.  The program will ask the user after each character is entered if s/he would like to quit the program by asking for <em class="value well well-small">q</em>.</p>
    <div class="point">
      <p class="topic">Click here for more details on the problem when you want to verify your understanding of the problem statement.</p>
      <ul class="details">The program should:
        <li>analyze each character that is typed in</li>
        <li>tell the user if s/he entered a number</li>
        <li>tell the user if s/he entered an upper case letter</li>
        <li>tell the user if s/he entered a lower case letter</li>
        <li>tell the user if s/he entered a special character (don't worry about <em class="value well well-small">DEL</em> or any other ASCII characters from <em class="value well well-small">NULL</em> to <em class="value well well-small">Space</em>)</li>
        <li>quit the program if the user has entered <em class="value well well-small">q</em>, <em class="value well well-small">q</em> does not need to be analyzed</li>
      </ul>
    </div>              
  </li>
</ul>