{% include instructions/labs/{{site.variation}}instruction_single_file.html assignment_name="classifying_a_value" %}
<ul>
  <li>Create a program that will accept a number and then print a message depending on it's value and also print out the value of the entered number
    <h5>Here are some addition requirements:</h5>
    <ul>
      <li><em>[value]</em> = the value of the entered number</li>
      <li>if the value is less than 0, then print out <pre>You've entered <em>[value]</em>, and it is a negative number.</pre>
        <ul>
          <li>example: <pre>You've entered -1.1, and it is a negative number.</pre></li>
        </ul>
      </li>
      <li>if the value is (equal and greater than 0) and also (equal and less than 100), then print out <pre>You've entered <em>[value]</em>, and it is a valid exam score.</pre>
        <ul>
          <li>example: <pre>You've entered 80.12, and it is a valid exam score.</pre></li>
        </ul>
      </li>
      <li>if the value is greater than 100, then print out <pre>You've entered <em>[value]</em>, and it is an invalid exam score.</pre></li>
        <ul>
          <li>example: <pre>You've entered 151.4, and it is an invalid exam score.</pre></li>
        </ul>
      </li>
      <li>the program must handle decimal numbers and negative numbers</li>
    </ul>
  </li>
</ul>