{% include instructions/labs/{{site.variation}}instruction_single_file.html assignment_name="classifying_characters" %}
<ul>
  <li>Create a program that will accept a character and then print out a message that contains the character and informs the user if the character is uppercase or lowercase
    <h5>Here are some addition requirements:</h5>
    <ul>
      <li><em>[character]</em> = the character entered</li>
      <li>if the character is uppercase, then print out <pre>You've entered "<em>[character]</em>", and it is uppercase.</pre>
        <ul>
          <li>example: <pre>You've entered "A", and it is uppercase.</pre></li>
        </ul>
      </li>
      <li>if the character is lowercase, then print out <pre>You've entered "<em>[character]</em>", and it is lowercase.</pre>
        <ul>
          <li>example: <pre>You've entered "a", and it is lowercase.</pre></li>
        </ul>
      </li>
      <li>if the is a special character like <code>#</code>, <code>*</code>, <code>(</code>, <code>^</code>, or etc then print out <pre>You've entered an invalid character, "<em>[character]</em>".</pre>
        <ul>
          <li>example: <pre>You've entered an invalid character, "*".</pre></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>