{% include instructions/labs/{{site.variation}}instruction_single_file.html assignment_name="averager" %}
<ul>
  <li>
    <p>Write a program that will allow the user to enter in a number of seconds and return the equivalent number of minutes and seconds where the seconds is always less than 60</p>
    <ul>
      <li>Test Case 1:
<pre>Please enter in the number of seconds to be converted:
[user enters 130]
130 seconds is equivalent to 2 minutes and 10 seconds
</pre>
      </li>
    </ul>
  </li>
</ul>
