<p>Download the display program and make sure you can compile and run <em class="file well well-small">display.c</em> runs</p>
<div class="point">
  <p class="topic">You can download the display program with any of the following methods:</p>
  <div class="details">
    <ul>Using GIT (recommended):
      <li><code>cd</code> into your lab folder</li>
      <li>issue these command at the command prompt:
        <ul>
          <li>git clone https://github.com/zhaol/game_scaffold.git</li>
          <li>cd game_scaffold</li>
          <li>git checkout tags/v1.0.2</li>
        </ul>
      </li>
    </ul>
    <ul>Using the web browser:
      <li>download the zip here: <a href="https://github.com/zhaol/game_scaffold/archive/v1.0.2.zip">https://github.com/zhaol/game_scaffold/archive/v1.0.2.zip</a></li>
      <li>upload the files into your Cloud9 IDE:
        <ul>
          <li>File -> Upload Local Files</li>
        </ul>
      </li>
    </ul>          
    <ul>Manually copying and pasting the files:
      <li>all the necessary files are listed here: <a href="https://github.com/zhaol/game_scaffold/tree/v1.0.2">https://github.com/zhaol/game_scaffold/tree/v1.0.2</a></li>
      <li>when copying and pasting the file content, be sure you are copying and pasting the contents of the files for version 1.0.2 (you should see "tag: v1.0.2" in the top left area)</li>
    </ul>
    <p>No matter which method you choose, be sure the <em class="file well well-small">version.txt</em> file says:</p>
0.2

07:
isplay size and border</pre>
  </div>
</div>
