{% include instructions/labs/{{site.variation}}instruction_multiple_files.html assignment_name="hang_person" %}
<ul>
  <li>
    <p>Write a program that allows Player 1 to enter in a phrase. Player 2 can then guess at the phrase by entering in letters. The game ends when Player 2 successfully fills in all the letters of the phrase or when Player 2 unsuccessfully guesses at the phrase a certain number of times. The limit on the number of guesses by Player 2 is determined by the programmer.  Each time Player 2 types in a letter that is not in the phrase, there will be a visual indication showing how many more guesses Player 2 has.  This visual indication could be a picture of something (it could be a person or something else), an animation that finishes, a progress bar, or anything that the programmer chooses.</p>          
  </li>
</ul>
