{% include instructions/labs/{{site.variation}}instruction_multiple_files.html assignment_name="road_trip" %}
<ul>
  <li>
    <p>Write a program that determines the shortest path from San Francisco to New York. The program will have access to the dataset found at <a href="https://github.com/zhaol/datasets/tree/trip.1.0.1">https://github.com/zhaol/datasets/tree/trip.1.0.1</a>. There will be 3 legs to the trip; each data file corresponds to a leg on the trip. The dataset lists the origin city (column 1), destination city (column 2), and the distance (column 3) between the origin and destination cities.</p>
    <div class="point">
      <p class="topic">You can download the dataset with any of the following methods:</p>
      <div class="details">
        <ul>Using GIT (recommended):
          <li><code>cd</code> into your mini-project folder</li>
          <li>issue these command at the command prompt:
            <ul>
              <li>git clone https://github.com/zhaol/datasets.git</li>
              <li>cd datasets</li>
              <li>git checkout tags/trip.1.0.1</li>
            </ul>
          </li>
        </ul>
        <ul>Using the web browser:
          <li>download the zip here: <a href="https://github.com/zhaol/datasets/archive/trip.1.0.1.zip">https://github.com/zhaol/datasets/archive/trip.1.0.1.zip</a></li>
          <li>upload the files into your Cloud9 IDE:
            <ul>
              <li>File -> Upload Local Files</li>
            </ul>
          </li>
        </ul>          
        <ul>Manually copying and pasting the files:
          <li>all the necessary files are listed here: <a href="https://github.com/zhaol/datasets/tree/trip.1.0.1">https://github.com/zhaol/datasets/tree/trip.1.0.1</a></li>
          <li>when copying and pasting the file content, be sure you are copying and pasting the contents of the files for version trip.1.0.1 (you should see "tag: trip.1.0.1" in the top left area)</li>
        </ul>
        <p>No matter which method you choose, be sure the <em class="file well well-small">version.txt</em> file says:</p>
  <pre>trip.1.0.1
  
  Road Trip Lab:
  Find shortest path</pre>
      </div>
    </div>
  </li>
</ul>
