{% include instructions/labs/{{site.variation}}instruction_game.html assignment_name="display" %}
<ul>
  <li>
    <p>Update the display program</p>
    <p>Understand how the display program works (this might take a fair amount of time) and make the following modifications:</p>
    <ul>
      <li>change the top border and bottom border to be <code>+</code></li>
      <li>change the left border to be <code>{</code></li>
      <li>change the right border to be <code>}</code></li>
      <li>change the frowney eyes to be <code>O</code></li>
    </ul>
    <p>Notice that the left and right borders were not separated and the change was not as easy. However, having refactored and abstracted other parts of the code, this change was not as bad as it could have been.  The take away is: you don't need to refactor all of your code for refactoring to be useful.</p>
    <p>Some of our future labs will be building off of the display program, so please familiarize yourself with the code base</p>
    <p>Please note that the labs after this one will be substantially more difficult</p>
    <p>If you happen to finish this lab early, please consider starting on the next labs early</p>
    <p>Feel free to reuse any of the code in the display program for other future lab assignments</p>          
  </li>
</ul>
