---
layout: default
title: Lab 08
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Updated Displayer</h2>
      <div class="content">
        {% include labs/updated_displayer.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Display</h2>
      <div class="content">
        {% include labs/display.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Update Display</h2>
      <div class="content">
        {% include labs/update_display.html %}
      </div>
    </li>
  </ul>
</div>
<!-- TODO add tic tac toe using arrays -->
