---
layout: default
title: Lab 11
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">High Score</h2>
      <div class="content">
        {% include labs/highscore.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Uber</h2>
      <div class="content">
        {% include labs/uber_dataset.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Uber Ride Count and Distance</h2>
      <div class="content">
        {% include labs/uber_ridecount_distance.html %}
      </div>
    </li>
  </ul>
</div>
<!-- TODO add lab (possibly from exams) that is not as complex as uber but is starting from scratch -->
<!-- possibly need to bunch all display labs and bunch all uber labs to free up a week for new types of labs -->
