<li class="item">
      <h2 class="headline">Submission instructions</h2>
      <div class="content">
        <h4>Ignore the instrcutions above to zip the code for the diffrent tasks separately. Turn in all your code in one tarball.</h4>
        <ul>
          <li>There should only be one folder within the tarball that contains all the files (i.e. no subfolders).</li>
          <li>Do NOT turn in your high score file. Your program should be able to handle if one does not exist (e.g. create one).</li>
          <li>Do NOT turn in the uber data set file (uber.tsv).</li>
          <li>
            <p>If all the files are just in your lab folder (i.e. no sub folder), just use the typical instructions:</p>
            <ul>
              <li> <code>mkdir UHusername_labNUM</code></li>
              <li> <code>cp *.c *.h UHusername_labNUM</code></li>
              <li> <code>tar -cvzf UHusername_labNUM.tar.gz UHusername_labNUM</code></li>
              <li> <code>rm -rf UHusername_labNUM</code></li>
            </ul>
            </li>
          <li>Submit the tarball like usual (i.e. upload to Laulima)</li>  
        </ul>
      </div>
    </li>
