<li class="item">
      <h2 class="headline">Submission instructions</h2>
      <div class="content">
        <h4>Please turn in all the files (including the ones your downloaded even if you didn't make changes)</h4>
        <ul>
          <li>There should only be one folder within the tarball that contains all the files.</li>
          <li>
            <p>If you have a game scaffold subfolder within your lab (e.g. you cloned from git): </p>
            <u1>
              <li> <code>mkdir UHusername_labNUM</code></li>
              <li> <code>cp *.c *.h game_scaffold/*.c game_scaffold/*.h UHusername_labNUM</code></li>
              <li> <code>tar -cvzf UHusername_labNUM.tar.gz UHusername_labNUM</code></li>
              <li> <code>rm -rf UHusername_labNUM</code></li>
            </u1>
          </li>
          <li>
            <p>If all the files are just in your lab folder (i.e. no sub folder), just use the old instructions:</p>
            <u1>
              <li> <code>mkdir UHusername_labNUM</code></li>
              <li> <code>cp *.c *.h UHusername_labNUM</code></li>
              <li> <code>tar -cvzf UHusername_labNUM.tar.gz UHusername_labNUM</code></li>
              <li> <code>rm -rf UHusername_labNUM</code></li>
            </u1>
          </li>
          <li>Submit the tarbal like usual</li>  
        </ul>
      </div>
    </li>
