<header class="navbar well well-small">
  <h1>EE160 Programming for Engineers</h1>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/">Syllabus</a>
      <ul class="nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Lectures</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Lectures 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/01/">Lecture 01 - Hello Class, Command Line</a></li>
                <li><a href="{{ site.baseurl }}/lectures/02/">Lecture 02 - Hello World</a></li>
                <li><a href="{{ site.baseurl }}/lectures/03/">Lecture 03 - Variables, Data Types</a></li>
                <li><a href="{{ site.baseurl }}/lectures/04/">Lecture 04 - Debugging</a></li>
                <li><a href="{{ site.baseurl }}/lectures/05/">Lecture 05 - Pointers, Addresses, Values (Data)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/06/">Lecture 06 - Adder, Precedence, Associativity</a></li>
                <li><a href="{{ site.baseurl }}/lectures/07/">Lecture 07 - Macros, Header Files, Debug Adder and Precedence</a></li>
                <li><a href="{{ site.baseurl }}/lectures/08/">Lecture 08 - Type Casting</a></li>
                <li><a href="{{ site.baseurl }}/lectures/09/">Lecture 09 - if/else, while</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 10 - 19</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/10/">Lecture 10 - Summer</a></li>
                <li><a href="{{ site.baseurl }}/lectures/11/">Lecture 11 - Functions, Abstraction, Refactor Summer</a></li>
                <li><a href="{{ site.baseurl }}/lectures/12/">Lecture 12 - Organize Functions, Indentation, Comments</a></li>
                <li><a href="{{ site.baseurl }}/lectures/13/">Lecture 13 - Arguments, Scopes</a></li>
                <li><a href="{{ site.baseurl }}/lectures/14/">Lecture 14 - Algorithms, Designs</a></li>
                <li><a href="{{ site.baseurl }}/lectures/15/">Lecture 15 - Arrays, Lists</a></li>
                <li><a href="{{ site.baseurl }}/lectures/16/">Lecture 16 - Sorter</a></li>
                <li><a href="{{ site.baseurl }}/lectures/17/">Lecture 17 - Read/Write Files</a></li>
                <li><a href="{{ site.baseurl }}/lectures/18/">Lecture 18 - Refactor Sorter</a></li>
                <li><a href="{{ site.baseurl }}/lectures/19/">Lecture 19 - Pointers, Pointer Arithmatic</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 20 - 29</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/20/">Lecture 20 - Characters, Strings</a></li>
                <li><a href="{{ site.baseurl }}/lectures/21/">Lecture 21 - Float, Precision, Accuracy</a></li>
                <li><a href="{{ site.baseurl }}/lectures/22/">Lecture 22 - 2D Arrays</a></li>
                <li><a href="{{ site.baseurl }}/lectures/23/">Lecture 23 - Table Data</a></li>
                <li><a href="{{ site.baseurl }}/lectures/24/">Lecture 24 - Struct, Enum, TypeDef</a></li>
                <li><a href="{{ site.baseurl }}/lectures/25/">Lecture 25 - Memory, Malloc, Calloc</a></li>
                <li><a href="{{ site.baseurl }}/lectures/26/">Lecture 26</a></li>
                <li><a href="{{ site.baseurl }}/lectures/27/">Lecture 27</a></li>
                <li><a href="{{ site.baseurl }}/lectures/28/">Lecture 28</a></li>
                <li><a href="{{ site.baseurl }}/lectures/29/">Lecture 29</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 30 - 39</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/30/">Lecture 30</a></li>
                <li><a href="{{ site.baseurl }}/lectures/31/">Lecture 31</a></li>
                <li><a href="{{ site.baseurl }}/lectures/32/">Lecture 32</a></li>
                <li><a href="{{ site.baseurl }}/lectures/33/">Lecture 33</a></li>
                <li><a href="{{ site.baseurl }}/lectures/34/">Lecture 34</a></li>
                <li><a href="{{ site.baseurl }}/lectures/35/">Lecture 35</a></li>
                <li><a href="{{ site.baseurl }}/lectures/36/">Lecture 36</a></li>
                <li><a href="{{ site.baseurl }}/lectures/37/">Lecture 37</a></li>
                <li><a href="{{ site.baseurl }}/lectures/38/">Lecture 38</a></li>
                <li><a href="{{ site.baseurl }}/lectures/39/">Lecture 39</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 40 - 44</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/40/">Lecture 40</a></li>
                <li><a href="{{ site.baseurl }}/lectures/41/">Lecture 41</a></li>
                <li><a href="{{ site.baseurl }}/lectures/42/">Lecture 42</a></li>
                <li><a href="{{ site.baseurl }}/lectures/43/">Lecture 43</a></li>
                <li><a href="{{ site.baseurl }}/lectures/44/">Lecture 44</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Labs</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Weeks 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/01/">Week 01 - Piazza, Cloud9 IDE, Command Line</a></li>
                <li><a href="{{ site.baseurl }}/labs/02/">Week 02 - Hello World, Variables</a></li>
                <li><a href="{{ site.baseurl }}/labs/03/">Week 03 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/04/">Week 04 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/05/">Week 05 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/06/">Week 06 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/07/">Week 07 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/08/">Week 08 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/09/">Week 09 - Lectures 01 - 03</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Weeks 10 - 16</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/10/">Week 10 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/11/">Week 11 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/12/">Week 12 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/13/">Week 13 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/14/">Week 14 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/15/">Week 15 - Lectures 01 - 03</a></li>
                <li><a href="{{ site.baseurl }}/labs/16/">Week 16 - Lectures 01 - 03</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class="badge pull-right expand-all">Expand All</div>
    </div>
  </div>
</header>
