<header class="navbar well well-small">
  <h1>EE160 Programming for Engineers</h1>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/">Syllabus</a>
      <ul class="nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Lectures</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Lectures 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/hello_class_command_line/">Lecture 01 - Hello Class, Command Line</a></li>
                <li><a href="{{ site.baseurl }}/lectures/hello_world/">Lecture 02 - Hello World</a></li>
                <li><a href="{{ site.baseurl }}/lectures/variables_data_types/">Lecture 03 - Variables, Data Types</a></li>
                <li><a href="{{ site.baseurl }}/lectures/debugging/">Lecture 04 - Debugging</a></li>
                <li><a href="{{ site.baseurl }}/lectures/pointers_addresses_values/">Lecture 05 - Pointers, Addresses, Values (Data)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/boolean_expressions_if_else/">Lecture 06 - Boolean Expressions, if/else</a></li>
                <li><a href="{{ site.baseurl }}/lectures/minimum_balance/">Lecture 07 - if/else Problem (Minimum Balance)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/while/">Lecture 08 - while</a></li>
                <li><a href="{{ site.baseurl }}/lectures/adder_precedence_associativity/">Lecture 09 - Adder, Precedence, Associativity</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 10 - 19</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/type_casting/">Lecture 10 - Type Casting</a></li>
                <li><a href="{{ site.baseurl }}/lectures/summer/">Lecture 11 - Summer</a></li>
                <li><a href="{{ site.baseurl }}/lectures/macros/">Lecture 12 - Macros</a></li>
                <li><a href="{{ site.baseurl }}/lectures/functions/">Lecture 13 - Functions</a></li>
                <li><a href="{{ site.baseurl }}/lectures/abstraction_refactor_summer/">Lecture 14 - Abstraction, Refactor Summer</a></li>
                <li><a href="{{ site.baseurl }}/lectures/scope/">Lecture 15 - Scope</a></li>
                <li><a href="{{ site.baseurl }}/lectures/algorithm_design/">Lecture 16 - Algorithm Design</a></li>
                <li><a href="{{ site.baseurl }}/lectures/17/">Lecture 17 - Arrays (Lists)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/18/">Lecture 18 - Sorter</a></li>
                <li><a href="{{ site.baseurl }}/lectures/19/">Lecture 19 - Strings</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 20 - 29</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/20/">Lecture 20 - Read/Write Files</a></li>
                <li><a href="{{ site.baseurl }}/lectures/21/">Lecture 21 - Refactor Sorter</a></li>
                <li><a href="{{ site.baseurl }}/lectures/22/">Lecture 22 - For, Do..while</a></li>
                <li><a href="{{ site.baseurl }}/lectures/23/">Lecture 23 - Pointers, Pointer Arithmatic</a></li>
                <li><a href="{{ site.baseurl }}/lectures/24/">Lecture 24 - Break, Continue</a></li>
                <li><a href="{{ site.baseurl }}/lectures/25/">Lecture 25 - 2D Arrays</a></li>
                <li><a href="{{ site.baseurl }}/lectures/26/">Lecture 26 - Table Data</a></li>
                <li><a href="{{ site.baseurl }}/lectures/27/">Lecture 27 - Struct, Enum, TypeDef</a></li>
                <li><a href="{{ site.baseurl }}/lectures/28/">Lecture 28 - Memory, Malloc, Calloc</a></li>
                <li><a href="{{ site.baseurl }}/lectures/29/">Lecture 29</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 30 - 39</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/30/">Lecture 30</a></li>
                <li><a href="{{ site.baseurl }}/lectures/31/">Lecture 31</a></li>
                <li><a href="{{ site.baseurl }}/lectures/32/">Lecture 32</a></li>
                <li><a href="{{ site.baseurl }}/lectures/33/">Lecture 33</a></li>
                <li><a href="{{ site.baseurl }}/lectures/34/">Lecture 34</a></li>
                <li><a href="{{ site.baseurl }}/lectures/35/">Lecture 35</a></li>
                <li><a href="{{ site.baseurl }}/lectures/36/">Lecture 36</a></li>
                <li><a href="{{ site.baseurl }}/lectures/37/">Lecture 37</a></li>
                <li><a href="{{ site.baseurl }}/lectures/38/">Lecture 38</a></li>
                <li><a href="{{ site.baseurl }}/lectures/39/">Lecture 39</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 40 - 44</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/40/">Lecture 40</a></li>
                <li><a href="{{ site.baseurl }}/lectures/41/">Lecture 41</a></li>
                <li><a href="{{ site.baseurl }}/lectures/42/">Lecture 42</a></li>
                <li><a href="{{ site.baseurl }}/lectures/43/">Lecture 43</a></li>
                <li><a href="{{ site.baseurl }}/lectures/44/">Lecture 44</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Labs</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Weeks 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/01/">Lab 01 - Piazza, Cloud9 IDE, Command Line</a></li>
                <li><a href="{{ site.baseurl }}/labs/02/">Lab 02 - Hello World, Variables</a></li>
                <li><a href="{{ site.baseurl }}/labs/03/">Lab 03 - Compare numbers and characters</a></li>
                <li><a href="{{ site.baseurl }}/labs/04/">Lab 04</a></li>
                <li><a href="{{ site.baseurl }}/labs/05/">Lab 05</a></li>
                <li><a href="{{ site.baseurl }}/labs/06/">Lab 06</a></li>
                <li><a href="{{ site.baseurl }}/labs/07/">Lab 07</a></li>
                <li><a href="{{ site.baseurl }}/labs/08/">Lab 08</a></li>
                <li><a href="{{ site.baseurl }}/labs/09/">Lab 09</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Weeks 10 - 16</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/10/">Lab 10</a></li>
                <li><a href="{{ site.baseurl }}/labs/11/">Lab 11</a></li>
                <li><a href="{{ site.baseurl }}/labs/12/">Lab 12</a></li>
                <li><a href="{{ site.baseurl }}/labs/13/">Lab 13</a></li>
                <li><a href="{{ site.baseurl }}/labs/14/">Lab 14</a></li>
                <li><a href="{{ site.baseurl }}/labs/15/">Lab 15</a></li>
                <li><a href="{{ site.baseurl }}/labs/16/">Lab 16</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class="badge pull-right expand-all">Expand All</div>
    </div>
  </div>
</header>
