<header class="navbar well well-small">
  <h1>EE160 Programming for Engineers</h1>
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ site.baseurl }}/">Syllabus</a>
      <ul class="nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Lectures</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Lectures 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/hello_class_command_line/">Lecture 01 - Hello Class, Command Line</a></li>
                <li><a href="{{ site.baseurl }}/lectures/hello_world/">Lecture 02 - Hello World</a></li>
                <li><a href="{{ site.baseurl }}/lectures/variables_data_types/">Lecture 03 - Variables, Data Types</a></li>
                <li><a href="{{ site.baseurl }}/lectures/debugging/">Lecture 04 - Debugging</a></li>
                <li><a href="{{ site.baseurl }}/lectures/pointers_addresses_values/">Lecture 05 - Pointers, Addresses, Values</a></li>
                <li><a href="{{ site.baseurl }}/lectures/boolean_expressions_if_else/">Lecture 06 - Boolean Expressions, if/else</a></li>
                <li><a href="{{ site.baseurl }}/lectures/algorithm_design/">Lecture 07 - Algorithm Design</a></li>
                <li><a href="{{ site.baseurl }}/lectures/minimum_balance/">Lecture 08 - if/else Problem (Minimum Balance)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/while/">Lecture 09 - while</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 10 - 19</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/minimum_balances/">Lecture 10 - while Problem (Minimum Balances)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/arithmetic_operators_precedence_associativity_adder/">Lecture 11 - Arithmetic Operators, Precedence, Associativity, Adder</a></li>
                <li><a href="{{ site.baseurl }}/lectures/accounts_summary/">Lecture 12 - Arithmetic Operator Problem (Accounts Summary)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/type_casting/">Lecture 13 - Type Casting</a></li>
                <li><a href="{{ site.baseurl }}/lectures/metrics/">Lecture 14 - Type Casting Problem (Metrics)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/functions/">Lecture 15 - Functions</a></li>
                <li><a href="{{ site.baseurl }}/lectures/net_balance/">Lecture 16 - Function Problem (Net Balance)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/macros/">Lecture 17 - Macros</a></li>
                <li><a href="{{ site.baseurl }}/lectures/abstraction_refactor_accounts_summary/">Lecture 18 - Abstraction, Refactor Accounts Summary</a></li>
                <li><a href="{{ site.baseurl }}/lectures/arrays/">Lecture 19 - Arrays (Lists)</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 20 - 29</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/account_balances/">Lecture 20 - Arrays Problem (Account Balances)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/strings">Lecture 21 - Strings</a></li>
                <li><a href="{{ site.baseurl }}/lectures/account_holders">Lecture 22 - Strings Problem (Account Holders)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/files">Lecture 23 - Files</a></li>
                <li><a href="{{ site.baseurl }}/lectures/generate_report">Lecture 24 - Files Problem (Generate Report)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/logical_operators_elseif_switch">Lecture 25 - Logical Operators, else if, switch</a></li>
                <li><a href="{{ site.baseurl }}/lectures/improved_min_bal_check">Lecture 26 - Logical Operators &amp; else if Problem (Improved Minimum Balance Checking)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/for_do_while">Lecture 27 - for, do while</a></li>
                <li><a href="{{ site.baseurl }}/lectures/do_while_refactor">Lecture 28 - do while Problem (Refactor while)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/jump_statements">Lecture 29 - Jump Statements</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 30 - 39</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/stop_list">Lecture 30 - Jump Statements Problem (Stop List)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/2d_arrays">Lecture 31 - 2D Arrays (Tables)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/improved_accounts_list">Lecture 32 - 2D Arrays Problem (Improved Accounts List)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/pointer_arithmetic">Lecture 33 - Pointer Arithmetic</a></li>
                <li><a href="{{ site.baseurl }}/lectures/teller_line">Lecture 34 - Pointer Arithmetic Problem (Teller Lines)</a></li>
                <li><a href="{{ site.baseurl }}/lectures/bitwise_operators">Lecture 35 - Bitwise Operators</a></li>
                <li><a href="{{ site.baseurl }}/lectures/structs_unions">Lecture 36 - Structs and Unions</a></li>
                <li><a href="{{ site.baseurl }}/lectures/typedef_enums">Lecture 37 - TypeDef and Enums</a></li>
                <li><a href="{{ site.baseurl }}/lectures/">Lecture - Memory, Malloc, Calloc</a></li>
                <li><a href="{{ site.baseurl }}/lectures/">Lecture</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Lectures 40 - 44</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/lectures/">Lecture</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Labs</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a>Weeks 01 - 09</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/get_accounts/">Lab 01 - Get Accounts</a></li>
                <li><a href="{{ site.baseurl }}/labs/introduction/">Lab 02 - Introduction</a></li>
                <li><a href="{{ site.baseurl }}/labs/compare_numbers_characters/">Lab 03 - Compare numbers and characters</a></li>
                <li><a href="{{ site.baseurl }}/labs/summers/">Lab 04 - Summers</a></li>
                <li><a href="{{ site.baseurl }}/labs/character_analyzer_number_repeater/">Lab 05 - Character Analyzer, Number Repeater</a></li>
                <li><a href="{{ site.baseurl }}/labs/averager_calculator_displayer/">Lab 06 - Averager, Calculator, Displayer</a></li>
                <li><a href="{{ site.baseurl }}/labs/updated_displayer_display/">Lab 07 - Updated Displayer, Display</a></li>
                <li><a href="{{ site.baseurl }}/labs/display_boundaries_items/">Lab 08 - Display with Boundaries and Items</a></li>
                <li><a href="{{ site.baseurl }}/labs/09/">Lab 09 - Display with Attacker and Warp Speed</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Weeks 10 - 16</a>
              <ul class="dropdown-menu">
                <li><a href="{{ site.baseurl }}/labs/10/">Lab 10 - Display with High Score, Uber Ride Count and Distance</a></li>
                <li><a href="{{ site.baseurl }}/labs/11/">Lab 11 - Uber Velocity and Fastest List</a></li>
                <li><a href="{{ site.baseurl }}/labs/12/">Lab 12 - Uber Travel Time and Velocity Histograms</a></li>
                <li><a href="{{ site.baseurl }}/labs/13/">Lab 13 - Mini-Projects</a></li>
                <li><a href="{{ site.baseurl }}/labs/14/">Lab 14 - Mini-Project Enhancements</a></li>
                <li><a href="{{ site.baseurl }}/labs/15/">Lab 15</a></li>
                <li><a href="{{ site.baseurl }}/labs/16/">Lab 16</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Exams</a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/exams/1/">Exam 1</a></li>
            <li><a href="{{ site.baseurl }}/exams/2/">Exam 2</a></li>
            <li><a href="{{ site.baseurl }}/exams/3/">Exam 3 (Final)</a></li>
          </ul>
        </li>
      </ul>
      <div class="badge pull-right expand-all">Expand All</div>
    </div>
  </div>
</header>
