---
layout: default
title: Lab 07
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Trader</h2>
      <div class="content">
        {% include labs/trader.html %}
      </div>
    </li>
    <li class="item">
      <h2 id="displayer" class="headline">Displayer</h2>
      <div class="content">
        {% include labs/displayer.html %}
      </div>
    </li>
  </ul>
</div>
<!-- TODO require students to use functions based off of header file:
#include <stdio.h>

#define WIDTH 9
#define LB | //left border
#define RB | //right border
#define TOP -
#define BOTTOM -

void eyes();
void nose();
void mouth();
void hair();
void chin();

void face();

//trader.h

double call();
double put();
-->
<!-- TODO add another lab that uses functions with arrays after trader and before displayer: -->
<!-- TODO tic tac toe with 9 variables -->
    <!--li class="item">
      <h2 class="headline">Post Exam Material</h2>
      <div class="content">
        <ul>
          <li>Recovery Assignment
            <ul>Recovery 1.1, at the end of this assignment you should upload to your Laulima dropbox:
              <li>a file named <span class="file well well-small">UHusername_r_1_1.c</span></li>
              <li>
                <ul>example:
                  <li><span class="file well well-small">zhaol_r_1_1.c</span></li>
                </ul>
              </li>
              <li>This recovery assignment is an individual effort, please do not post any questions or your code about the recovery assignment on Piazza</li>
              <li>If you have questions about the recovery assignment, please email me directly</li>
              <li>Write a program that:
                <ul>
                  <li>allows the user to input a number</li>
                  <li>depending on the number entered by the user, the program will do one of the following:
                    <table class="table table-bordered table-striped table-hover">
                      <caption>Input and Output Mapping</caption>
                      <thead><tr>
                        <th>When User Input is:</th><th>The Program Will:</th><th>Then The Program Will:</th>
                      </tr></thead>
                      <tbody>
                        <tr>
                          <td>0 - 2</td>
                          <td>ask user for a decimal</td>
                          <td>print out the decimal to the 1st power<br/>
                            print out the decimal to the 2nd power<br/>
                            print out the decimal to the 25th power<br/>
                            (do not use any built-in C functions like <code>pow</code>,<br/>
                            test with small numbers to avoid C memory)
                          </td>
                        </tr>
                        <tr>
                          <td>97 - 122</td>
                          <td>ask user for an integer</td>
                          <td>print out the corresponding ASCII character</td>
                        </tr>
                        <tr>
                          <td>anything else</td>
                          <td>ask user for a character</td>
                          <td>print out the character 25 times</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li-->