<h4>At the end of this problem you should submit to Laulima:</h4>
<ul>
  <li>a file named <span class="file well well-small">UHusername_uber_ridecount_distance.c</span></li>
  <li>a file named <span class="file well well-small">UHusername_uber_ridecount_distance.h</span></li>
  <li>a file named <span class="file well well-small">UHusername_uber_ridecount_distance_constants.h</span></li>
  <li>a file named <span class="file well well-small">UHusername_uber_ridecount_distance_helpers.c</span></li>
  <li>a file named <span class="file well well-small">UHusername_uber_ridecount_distance_helpers.h</span>
    <p>example:</p>
    <ul>
      <li><span class="file well well-small">zhaol_uber_ridecount_distance.c</span></li>
      <li><span class="file well well-small">zhaol_uber_ridecount_distance.h</span></li>
      <li><span class="file well well-small">zhaol_uber_ridecount_distance_constants.h</span></li>
      <li><span class="file well well-small">zhaol_uber_ridecount_distance_helpers.c</span></li>
      <li><span class="file well well-small">zhaol_uber_ridecount_distance_helpers.h</span></li>
    </ul>
  </li>
</ul>