---
layout: default
title: Lab 14
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Mini-Projects</h2>
      <div class="content">
        {% include labs/miniprojects.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Hang Person</h2>
      <div class="content">
        {% include labs/hang_person.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Road Trip</h2>
      <div class="content">
        {% include labs/road_trip.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Satellite Receiver</h2>
      <div class="content">
        {% include labs/satellite_receiver.html %}
      </div>
    </li>
  </ul>
</div>
<!-- TODO: add displayer with 2d arrays -->