---
layout: default
title: Lab 05
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Character Analyzer</h2>
      <div class="content">
        {% include labs/character_analyzer.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Number Repeater</h2>
      <div class="content">
        {% include labs/number_repeater.html %}
      </div>
    </li>
  </ul>
</div>
<!-- TODO add more problems; too easy compared to last lab -->