---
layout: default
title: Lab 15
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Mini-Projects Enhancements</h2>
      <div class="content">
        {% include labs/miniprojects_enhancements.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Hang Person Enhancement</h2>
      <div class="content">
        {% include labs/hang_person_enhancements.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Road Trip Enhancement</h2>
      <div class="content">
        {% include labs/road_trip_enhancement.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Satellite Receiver</h2>
      <div class="content">
        {% include labs/satellite_receiver_enhancement.html %}
      </div>
    </li>
  </ul>
</div>