---
layout: default
title: Lab 06
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Averager</h2>
      <div class="content">
        {% include labs/averager.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Calculator</h2>
      <div class="content">
        {% include labs/calculator.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Converter</h2>
      <div class="content">
        {% include labs/converter.html %}
      </div>
    </li>
  </ul>
</div>