---
layout: default
title: Lab 04
---

<div class="lecture">
  <ul class="outline">
    <li class="item">
      <h2 class="headline">Summer that sums 10 numbers</h2>
      <div class="content">
        {% include labs/summer_10.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Summer that terminates with 999</h2>
      <div class="content">
        {% include labs/summer_999.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Summer with user specified termination</h2>
      <div class="content">
        {% include labs/summer_user.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Summer that continues until terminated</h2>
      <div class="content">
        {% include labs/summer_until.html %}
      </div>
    </li>
    <li class="item">
      <h2 class="headline">Summer that continues until terminated but only sums current and last numbers</h2>
      <div class="content">
        {% include labs/sum_current_and_last_until.html %}
      </div>
    </li>
  </ul>
</div>